body {
  background-color: #5b5b5b;
  padding-top: 70px;
  color: #ffffff;
  /* background-image: url("baph-wh-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

footer {
  background-color: #101010;
  color: #ffffff;
  border-top: 1px solid #adadad;
}
