body {
  background-color: #424141;
  padding-top: 70px;
  color: #ffffff;
  /* background-image: url("baph-wh-bg-scaled.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

footer {
  background-color: #101010;
  color: #ffffff;
  border-top: 1px solid #adadad;
}

.img-fader {
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.img-fader:hover {
  opacity: 1;
  transition: opacity 0.55s ease-in-out;
  -moz-transition: opacity 0.55s ease-in-out;
  -webkit-transition: opacity 0.55s ease-in-out;
}
